.navbar {
	top: 75px;
	padding: 0;
	width: 17%;
	background-color: #f1f1f1;
	height: 100%;
	position: fixed;
	overflow: auto;
}
.navcontent {
	list-style-type: none;
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.nav-link {
	text-decoration: none;
}
.nav-active {
	color: green;
}

.content {
	margin-top: 75px;
	display: flex;
	justify-content: center;
}
.form {
  display: flex;
	flex-direction: column;
}
.center-content {
}
.side-content {
}
